# docker-compose-ca.yaml - Certificate Authorities for HOT Blockchain
# Hyperledger Fabric v2.5.14
# FYP Blockchain - Active Investigation Chain
#
# This file defines 4 CA containers for hot-blockchain:
# - OrdererOrg: Identity CA (7054) + TLS CA (8054)
# - LabOrg: Identity CA (7055) + TLS CA (8055)

version: '3.7'

networks:
  hot-network:
    name: hot-blockchain-network

services:
  # OrdererOrg - Identity CA
  ca.ordererorg.hot.coc.com:
    image: hyperledger/fabric-ca:1.5.15
    container_name: ca.ordererorg.hot.coc.com
    environment:
      - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
      - FABRIC_CA_SERVER_CA_NAME=ca.ordererorg.hot.coc.com
      - FABRIC_CA_SERVER_TLS_ENABLED=true
      - FABRIC_CA_SERVER_PORT=7054
      - FABRIC_CA_SERVER_OPERATIONS_LISTENADDRESS=0.0.0.0:17054
    ports:
      - "7054:7054"
      - "17054:17054"
    command: sh -c 'fabric-ca-server start -b ca-admin:ca-adminpw -d'
    volumes:
      - /home/user/FYPBcoc/hot-blockchain/crypto-config/ordererOrganizations/ordererorg.hot.coc.com/ca:/etc/hyperledger/fabric-ca-server
      - /home/user/FYPBcoc/hot-blockchain/ca-config/ordererorg-ca/fabric-ca-server-config.yaml:/etc/hyperledger/fabric-ca-server/fabric-ca-server-config.yaml
    networks:
      - hot-network

  # OrdererOrg - TLS CA
  tlsca.ordererorg.hot.coc.com:
    image: hyperledger/fabric-ca:1.5.15
    container_name: tlsca.ordererorg.hot.coc.com
    environment:
      - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
      - FABRIC_CA_SERVER_CA_NAME=tlsca.ordererorg.hot.coc.com
      - FABRIC_CA_SERVER_TLS_ENABLED=true
      - FABRIC_CA_SERVER_PORT=8054
      - FABRIC_CA_SERVER_OPERATIONS_LISTENADDRESS=0.0.0.0:18054
    ports:
      - "8054:8054"
      - "18054:18054"
    command: sh -c 'fabric-ca-server start -b tls-ca-admin:tlscapw -d'
    volumes:
      - /home/user/FYPBcoc/hot-blockchain/crypto-config/ordererOrganizations/ordererorg.hot.coc.com/tlsca:/etc/hyperledger/fabric-ca-server
      - /home/user/FYPBcoc/hot-blockchain/ca-config/ordererorg-tlsca/fabric-ca-server-config.yaml:/etc/hyperledger/fabric-ca-server/fabric-ca-server-config.yaml
    networks:
      - hot-network

  # LabOrg - Identity CA
  ca.laborg.hot.coc.com:
    image: hyperledger/fabric-ca:1.5.15
    container_name: ca.laborg.hot.coc.com
    environment:
      - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
      - FABRIC_CA_SERVER_CA_NAME=ca.laborg.hot.coc.com
      - FABRIC_CA_SERVER_TLS_ENABLED=true
      - FABRIC_CA_SERVER_PORT=7055
      - FABRIC_CA_SERVER_OPERATIONS_LISTENADDRESS=0.0.0.0:17055
    ports:
      - "7055:7055"
      - "17055:17055"
    command: sh -c 'fabric-ca-server start -b ca-admin:ca-adminpw -d'
    volumes:
      - /home/user/FYPBcoc/hot-blockchain/crypto-config/peerOrganizations/laborg.hot.coc.com/ca:/etc/hyperledger/fabric-ca-server
      - /home/user/FYPBcoc/hot-blockchain/ca-config/laborg-ca/fabric-ca-server-config.yaml:/etc/hyperledger/fabric-ca-server/fabric-ca-server-config.yaml
    networks:
      - hot-network

  # LabOrg - TLS CA
  tlsca.laborg.hot.coc.com:
    image: hyperledger/fabric-ca:1.5.15
    container_name: tlsca.laborg.hot.coc.com
    environment:
      - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
      - FABRIC_CA_SERVER_CA_NAME=tlsca.laborg.hot.coc.com
      - FABRIC_CA_SERVER_TLS_ENABLED=true
      - FABRIC_CA_SERVER_PORT=8055
      - FABRIC_CA_SERVER_OPERATIONS_LISTENADDRESS=0.0.0.0:18055
    ports:
      - "8055:8055"
      - "18055:18055"
    command: sh -c 'fabric-ca-server start -b tls-ca-admin:tlscapw -d'
    volumes:
      - /home/user/FYPBcoc/hot-blockchain/crypto-config/peerOrganizations/laborg.hot.coc.com/tlsca:/etc/hyperledger/fabric-ca-server
      - /home/user/FYPBcoc/hot-blockchain/ca-config/laborg-tlsca/fabric-ca-server-config.yaml:/etc/hyperledger/fabric-ca-server/fabric-ca-server-config.yaml
    networks:
      - hot-network
